<div class="container">
  <div class="row">
    <div class="col-sm-6 mx-auto">
      <form [formGroup]="editmenu"   (ngSubmit)="onSubmit()">
        <h4 style="text-align: center">Edit Menu</h4>

        <div class="form-group">
             
            <input #id type="hidden" class="form-control" id="exampleInputPassword1" formControlName="id">
          </div>
          <div class="row">
            <div class="col"><div class="form-group">
              <label for="exampleInputEmail1">name</label>
              <input maxlength="50"  type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="name">
              
            </div></div>
            <div class="col"><div class="form-group">
              <label for="exampleInputEmail1" >Restaurant</label>
               
              <select class="form-select form-select-lg mb-3 form-control" aria-label=".form-select-lg example" formControlName="rest_id">
                
                <option *ngFor="let rest of restaurantss"   value="{{rest.id}}">{{rest.name}}</option>
                 
              </select>
              
            </div></div>
          </div>
        
        <div class="row">
          <div class="col">  <div class="form-group">
            <label for="exampleInputPassword1">descr</label>
            <input   type="text" class="form-control" id="exampleInputPassword1" formControlName="descr">
          </div></div>
          <div class="col"> <div class="form-group">
            <label for="exampleInputPassword1">image Link</label>
            <input   type="text" class="form-control" id="exampleInputPassword1" formControlName="image">
          </div></div>
        </div>
      
         <div class="row">
           <div class="col"><div class="form-group">
            <label for="exampleInputPassword1">price</label>
            <input   type="number" class="form-control" id="exampleInputPassword1" formControlName="price">
          </div></div>
         </div>
          
           
          
        
         <div class="d-flex flex-column w-50 mt-3 p-2 mx-auto">
          <button style="height:40px;" type="submit" class="btn btn-block btn-primary  mt-1">submit</button>
        </div>
       
       
      </form>
    </div>
  </div>
</div>

  
 
