 
 
        <input  type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" #post (keyup.enter) = " createPost(post.value) ">

<table class="table">
    <thead class="thead-dark">
      <tr>
         
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">email</th>
        <th scope="col">post</th>
        <th scope="col">Update</th>
        <th scope="col">delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor ="let posti of post">
         
        <td>{{posti.id}} </td>
        <td>{{posti.name}} </td>
        <td>{{posti.email}} </td>
        <td>{{posti.body}} </td>
        <td><button class="btn btn-primary" (click) =' onUpdate(posti)'>Update</button></td>
        <td><button class="btn btn-primary" (click) =' onRemove(posti)'>delete</button></td>
      </tr>
      
    </tbody>
  </table>