<div class="container">
  <div class="row">
    <div class="col-sm-6 mx-auto">
      <form [formGroup]="editrest" (ngSubmit)="onSubmit()">
        <h4 style="text-align: center">Edit Restaurant</h4>

        <div class="form-group">
             
            <input #id type="hidden" class="form-control" id="exampleInputPassword1" formControlName="id">
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="exampleInputEmail1">name</label>
                <input maxlength="40" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="name">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
    
                <label for="exampleInputEmail1" >city</label>
                <select class="form-select form-select-lg mb-3 form-control" aria-label=".form-select-lg example" formControlName="city">
                  <option selected value="ramalah">ramalah</option>
                  <option value="heboun">heboun</option>
                  <option value="nables">nables</option>
                  <option value="baetlahem">baetlahem</option>
                </select>
                  
                  
            </div>
            </div>
          </div>
       
       
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="exampleInputPassword1">phone</label>
              <input #name type="text" class="form-control" id="exampleInputPassword1" formControlName="phone">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="exampleInputPassword1">image Link</label>
              <input #name type="text" class="form-control" id="exampleInputPassword1" formControlName="image">
            </div>
          </div>
        </div>
        
         <div class="row">
           <div class="col">
            <div class="form-group">
              <label for="exampleInputPassword1">lat</label>
              <input #name type="text" class="form-control" id="exampleInputPassword1" formControlName="lat">
            </div>
           </div>
           <div class="col">
            <div class="form-group">
              <label for="exampleInputPassword1">lng</label>
              <input #name type="text" class="form-control" id="exampleInputPassword1" formControlName="lng">
            </div>
           </div>
         </div>
         
         
          
         <div class="d-flex flex-column w-50 mt-3 p-2 mx-auto">
          <button style="height:40px;" type="submit" class="btn btn-block btn-primary  mt-1">submit</button>
        </div>
       
      </form>
    </div>
  </div>

</div>

  
