
<div class="container">
  <div class="row">
    <div class="col-sm-6 mx-auto">
      <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
        <h4 style="text-align: center">Add Restaurant</h4>
        <div class="row">
          <div class="col">
              <div class="form-group">
                <label for="exampleInputEmail1">name</label>
                <input   type="text" class="form-control" maxlength="40" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="name">
              </div>
          </div>
          <div class="col">
              <div class="form-group">
                <label for="exampleInputEmail1" >city</label>
                <select class="form-select form-select-lg mb-3 form-control" aria-label=".form-select-lg example" formControlName="city">
                  <option selected>ramalah</option>
                  <option value="heboun">heboun</option>
                  <option value="nables">nables</option>
                  <option value="baetlahem">baetlahem</option>
                </select>
              </div>
              
          </div>
      </div>
      <div class="row">
        <div class="col">
            <div class="form-group">
              <label for="exampleInputPassword1">phone</label>
              <input   type="text" class="form-control" id="exampleInputPassword1" formControlName="phone">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
              <label for="exampleInputPassword1">image Link</label>
              <input   type="text" class="form-control" id="exampleInputPassword1" formControlName="image">
            </div>
            
        </div>
    </div>

    <div class="row">
      <div class="col">
          <div class="form-group">
            <label for="exampleInputPassword1">latitude</label>
            <input   type="number" class="form-control" id="exampleInputPassword1" formControlName="lat">
          </div>
      </div>
      <div class="col">
          <div class="form-group">
            <label for="exampleInputPassword1">longitude</label>
            <input   type="number" class="form-control" id="exampleInputPassword1" formControlName="lng">
          </div>
          
      </div>
  </div>

      <div class="d-flex flex-column w-50 mt-3 p-2 mx-auto">
        <button style="height:40px;" type="submit" class="btn btn-block btn-primary  mt-1">submit</button>
      </div>

      </form>
    </div>
  </div>
</div>
