<p>form works!</p>
<form>
    <div class="form-group">
        <label for="exampleInputPassword1">id</label>
        <input #id type="text" class="form-control" id="exampleInputPassword1">
      </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input #email type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1" >post</label>
        <input  type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" #post  >
        
      </div>
    
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input #name type="text" class="form-control" id="exampleInputPassword1">
      </div>
      
    
     <!-- <button (clik)="create(post.value)" type="submit" class="btn btn-primary">Submit</button> -->
   
  </form>