

<div class="container">
  <div class="row row-cols-1 row-cols-md-3">
   
   
   
   
    <div *ngFor="let iteem of omlist" class="col mb-4">
      <div class="card h-100">
        <img src="{{iteem.menu.image}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{iteem.menu.name}}</h5>
          <p class="card-text">price {{iteem.menu.price}} ₪ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   Quantity {{iteem.order.quantity}}   </p>
          <p class="card-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; total price &nbsp; {{iteem.totalprice}} ₪       </p>
        </div>
        
       <div class="row" style="margin: 20px;">
         <div class="col" style="text-align: center;"> <a (click) ='delete(iteem)' style="justify-content: center;"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash " style="color: red;" viewBox="0 0 16 16">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
        </svg> </a></div>
       </div>
      </div>
    </div>
  </div>
</div>
