<div class="container">
  
<div class="row row-cols-1 row-cols-md-3">
   
   
   
   
  <div *ngFor="let iteem of menuitems" class="col mb-4">
    <div class="card h-100">
      <img src="{{iteem.image}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{iteem.name}}  {{iteem.price}} ₪</h5>
        <p class="card-text">{{iteem.descr}}</p>
      </div>
      <form [formGroup]="checkoutForm" (ngSubmit)="order(checkoutForm.value,iteem)">
      <div class="input-group mb-3">
        <input formControlName="rating" type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
        <button class="btn btn-outline-secondary" type="submit"  id="button-addon1">Order</button>
        
      </div>
      <div class="row" style="margin: 20px;">
        <div class="col" style="text-align: center;"> <a routerLink="/editmenu/{{iteem.id}}"  ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
        </svg></a></div>
      </div>
    </form>
      
      
    </div>
  </div>
</div>
</div>





 